body {
    
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal{
	padding-left: 20px;
    text-align: center;
}

.titulo-centralizado {
    text-align: center
    
}

header{
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

#visao {
    font-size: 20px
}

#valor {
    font-size: 20px
}

em strong {
    color: #FF0000;
}



